html {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  background-color: grey;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.wrapper {
  position: relative;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 0;
  height: 100%;
  max-width: 76vw;
  /* background-image: url('mister\ bean.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
.slider-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  z-index: 1;
}
.slider-input:checked + .slider-item {
  position: static;
  opacity: 100;
}
#input-1:checked ~ .flexbox .tex_for_bean {
  position: static;
  opacity: 100;
}
#input-2:checked ~ .flexbox .tex_for_bean_second {
  position: static;
  opacity: 100;
}
.mem {
  display: flex;
  position: relative;
  /* width: 76vw * 2; */
  width: 500px;
  height: 500px;
  /* overflow: hidden; */
  left: 0;
  z-index: 1;
}
.mem_pic {
  /* height: 80%;
  width: 76vw; */
  width: 500px;
  height: 500px;
  border-radius: .75em;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.circle {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  color: aqua;
  background-color: aqua;
  z-index: 10;
}
/* .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: bottoms;
  padding-top: 2%;
} */
.flexbox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: bottoms;
  padding-top: 2%;
}
.bottoms {
  display: flex;
  width: 8%;
  justify-content: space-between;
}
.text {
  margin: 0;
  font-size: 2em;
  display: block;
  position: absolute;
  opacity: 0;
}
label {
  display: block;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }}