html {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  background-color: rgb(19, 22, 16);
}
*, *::before, *::after {
  box-sizing: inherit;
}
.wrapper {
  position: relative;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 0;
  height: 100%;
  max-width: 76vw;
  /* background-image: url('mister\ bean.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
.mem {
  display: flex;
  position: relative;
  /* width: 76vw * 2; */
  width: 100%;
  /* height: 500px; */
  overflow: hidden;
  left: 0;
  z-index: 1;
}
.slider-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  z-index: 1;
}
.picture_captions {
  position: relative;
  left: 30vw;
}
.slider-input:checked + .slider-item {
  position: static;
  opacity: 100;
}
#input-1:checked ~ .flexbox .tex_for_input-1 {
  position: static;
  opacity: 100;
  transform: translateX(-30vw);
  transition: transform 1s ease-out;
}
#input-2:checked ~ .flexbox .tex_for_input-2 {
  position: static;
  opacity: 100;
  transform: translateX(-30vw);
  transition: transform 1s ease-out;
}
#input-3:checked ~ .flexbox .tex_for_input-3 {
  position: static;
  opacity: 100;
  transform: translateX(-30vw);
  transition: transform 1s ease-out;
}
#input-4:checked ~ .flexbox .tex_for_input-4{
  position: static;
  opacity: 100;
  transform: translateX(-30vw);
  transition: transform 1s ease-out;
}

#input-1:checked ~ .flexbox .circle1 {
  background-color: rgb(19, 22, 16);
}
#input-2:checked ~ .flexbox .circle2 {
  background-color: rgb(19, 22, 16);
}
#input-3:checked ~ .flexbox .circle3 {
  background-color: rgb(19, 22, 16);
}
#input-4:checked ~ .flexbox .circle4 {
  background-color: rgb(19, 22, 16);
}

.mem_pic {
  height: calc(76vw * 9 / 16);
  width: 76vw;
  /* width: 500px; */
  /* height: 500px; */
  border-radius: .75em;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.circle {
  height: 1em;
  width: 1em;
  border: solid .2em;
  border-radius: 50%;
  color: rgb(63, 13, 202);
  background-color: rgb(63, 13, 202);
  z-index: 10;
}
.bullet:hover .circle {
  color: white;
  background-color: white;
}
.bullet:active .circle {
  color: grey;
  background-color: grey;
}
/* .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: bottoms;
  padding-top: 2%;
} */
.flexbox {
  position: fixed;
  bottom: 0;
  height: calc(100vh - 76vw * 9 / 16);
  /* left: 0; */
  left: calc(100vw / 2 - 76vw / 2);
  width: 76vw;
  display: flex;
  justify-content: space-between;
  align-items: bottoms;
  padding-top: 2%;
}
.bottoms {
  display: flex;
  width: 7em;
  height: 2em;
  justify-content: space-between;
}
.text {
  position: relative;
  margin: 0;
  font-size: 2rem;
  display: block;
  position: absolute;
  opacity: 0;
  color: white;
}
label {
  display: block;
}
@media(max-width: 1024px){
  .text {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .text {
    font-size: 1.25rem;
  }
  .bottoms {
    width: 5.25em;
    height: 1.5em;
  }
  .circle {
    height: 0.75em;
    width: 0.75em;
    border: solid .15em;
  }
}